/* Global Styles */
body {
  margin: 0;
  box-sizing: border-box;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 2% 5%; /* Use percentages for padding */
}

.header .logo {
  font-size: 2.5vw; /* Use viewport width for font size */
  font-family: "Algerian", cursive;
  color: #ffff;
  text-decoration: none;
  margin-left: 0;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 17px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #a9d5e2;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;

/* Main Element Styles */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh; /* Use viewport height for min-height */
  background-color: #a9d5e2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2% 5%; /* Use percentages for padding */
}

.intro h1 {
  font-family: Forte;
  font-size: 4vw; /* Use viewport width for font size */
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 1.5vw; /* Use viewport width for font size */
  color: hwb(0 33% 67%);
  text-transform: uppercase;
  margin: 2% 0;
}

.intro button {
  background-color: #5edaf0;
  color: #ffff;
  padding: 1.5% 3%; /* Use percentages for padding */
  border: none;
  border-radius: 5px;
  font-size: 1.5vw; /* Use viewport width for font size */
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

/* Achievements Styles */
.achievements {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4% 2%; /* Use percentages for padding */
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%; /* Use percentages for padding */
}

.achievements .work button {
  background-color: #5edaf0;
  color: #ffff;
  padding: 1.5% 3%; /* Use percentages for padding */
  border: none;
  border-radius: 5px;
  font-size: 1.5vw; /* Use viewport width for font size */
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.achievements .work i {
  width: fit-content;
  font-size: 4vw; /* Use viewport width for font size */
  color: #333333;
  border-radius: 25%;
  border: 2px solid #333333;
  padding: 2%;
}

.achievements .work .work-heading {
  font-size: 1.5vw; /* Use viewport width for font size */
  color: #333333;
  text-transform: uppercase;
  margin: 2% 0;
}

.achievements .work .work-text {
  font-size: 1vw; /* Use viewport width for font size */
  color: #585858;
  margin: 2% 0;
  max-width: 70%; /* Use percentages for max-width */
}

/* Best OS Styles */
.best-os {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 2%; /* Use percentages for padding */
  border-top
)