/* Reset default styles */
body {
	margin: 0;
	padding: 0;
	font-family: Sans-serif;
	line-height: 1.5em;
	background: #fff; /* Set a background color for the body */
  }
  
  /* Header Styles */
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 20px;
  }
  
  .header .logo {
	font-size: 35px;
	font-family: "Algerian", cursive;
	color: #ffff;
	text-decoration: none;
	margin-left: 0px;
  }
  
  .navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 17px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #a9d5e2;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}
  /* Main Content Styles */
  #container {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-wrap: wrap; /* Allow content to wrap on smaller screens */
  }
  
  #center {
	padding: 10px 20px;
	flex-grow: 1; /* Allow the center content to grow */
  }
  
  #left {
	width: 180px;
	padding: 10px;
  }
  
  #right {
	width: 130px;
	padding: 0 10px;
  }
  
  /* Footer Styles */
  #footer {
	clear: both;
	font-size: large;
	padding: 0.3em;
	background: #a9d5e2;
  }
  